@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div style="margin-top:100px;" class="col-sm-4 col-sm-offset-4">
            <div class="panel">
                <div class="panel-heading text-center">
                    <h2>修改密码</h2>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" class="form-control" disabled="disabled" value="@ViewData["userName"]">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="oldpwd" placeholder="请输入旧密码">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="newpwd" placeholder="请输入新密码">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="newlypwd" placeholder="请重新输入新密码">
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary block full-width m-b" onclick="admin.edit_pwd()">登 录</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section css{
}
@section js{
    <script type="text/javascript">
        var admin = {
            edit_pwd: function () {
                var oldpwd = $(".panel-body input[name=oldpwd]").val();
                var newpwd = $(".panel-body input[name=newpwd]").val();
                var newlypwd = $(".panel-body input[name=newlypwd]").val();
                if (!oldpwd) {
                    FW.MsgBox("请输入旧密码!", "警告");
                    return false;
                }
                if (!newpwd) {
                    FW.MsgBox("请输入新密码!", "警告");
                    return false;
                }
                if (!newlypwd) {
                    FW.MsgBox("请输入确认密码!", "警告");
                    return false;
                }
                if (newpwd != newlypwd) {
                    FW.MsgBox("两次密码不一致!", "警告");
                    return false;
                }
                FW.Ajax({
                    url: "@Url.Action("ChangePwd")",
                    data: {
                        oldpwd: oldpwd,
                        newpwd: newpwd,
                        newlypwd: newlypwd
                    },
                    success: function (r) {
                        if (r.status == 1) {
                            FW.MsgBox("操作成功!", "成功");
                        }
                    }
                });

            }
        };
    </script>
}
