@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content" id="form">
                <form class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">编号：</label>
                            <input type="text" class="form-control input-sm" name="cRoles_Number" data-bind="value:cRoles_Number" placeholder="请输入编号" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">角色名称：</label>
                            <input type="text" class="form-control input-sm" name="cRoles_Name" data-bind="value:cRoles_Name" placeholder="请输入角色名称" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">备注：</label>
                            <textarea class="form-control input-sm" name="cRoles_Remark" data-bind="value:cRoles_Remark" placeholder="请输入备注"></textarea>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--按钮-->
<div style="height:50px; width:100%;"></div>
<div class="my-ButtonBar text-right">
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success btn-sm" data-bind="visible:!Func.IsAdd()" onclick="$Form.ResetUrl(null)">新增</button>
        <button class="btn btn-primary btn-sm" onclick="$Form.Save({ url:'@Url.Action("Save")' })">提交</button>
        <button class="btn btn-danger btn-sm" onclick="Lay.close($.GetFrameIndex())">关闭</button>
    </div>
</div>
@section css{

}
@section js{
    <script src="~/Scripts/SysFrameWork/FrameWork_Form.js"></script>
    <script type="text/javascript">
        var KeyId = FW.GetQueryString("ID");
        model = new vModel();
        $(function () {
            ko.applyBindings(model);//注册vModel
            Func.Load(KeyId);
        });

        var Func = {
            IsAdd: function () {
                if (KeyId == null || KeyId == "" || KeyId == undefined || KeyId == "@Guid.Empty")
                    return true;
                return false;
            },
            Load: function (ID) {
                $Form.Load({
                    id: ID,
                    url: "@Url.Action("Find")",
                    callBack: function (r) {
                        if (Func.IsAdd()) {
                            $.Tools.Ajax({
                                type: "post",
                                url: "@Url.Action("Num")",
                                success: function (r) {
                                    if (r.status == 1)
                                        model.cRoles_Number(r.num);
                                }
                            });
                        }
                    }
                });
            },
        };

        function vModel() {
            this.uRoles_ID = ko.observable("");
            this.cRoles_Number = ko.observable("");
            this.cRoles_Name = ko.observable("");
            this.cRoles_Remark = ko.observable("");
            this.dRoles_CreateTime = ko.observable("");
        }
    </script>
}
