@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button href="/SysManage/User/Index" data-id="/SysManage/User/Index" class="J_menuItem"><i class=""></i><span class="nav-label">我是自定义用户管理标签页</span></button>


@section css{
}
@section js{
    <script src="~/Scripts/SysFrameWork/FrameWork.js"></script>
    <script type="text/javascript">
        $(".J_menuItem").on("click", top.menuItem);
    </script>
}